@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

:root {
  --warning: 38 92% 50%;
  --warning-foreground: 48 96% 89%;
  --radius: 12px;
}

@keyframes popInBounce {
  0%,
  100% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-popInBounce {
  animation: popInBounce 1s ease-out forwards;
}

.tab {
  box-shadow: 1px -17px 35px -8px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px -17px 35px -8px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px -17px 35px -8px rgba(0, 0, 0, 0.5);
}

.checkout {
  box-shadow: 14px -3px 21px -3px rgba(0,0,0,0.2);
-webkit-box-shadow: 14px -3px 21px -3px rgba(0,0,0,0.2);
-moz-box-shadow: 14px -3px 21px -3px rgba(0,0,0,0.2);
}

@layer utilities {
  .heading1 {
    @apply text-[64px] leading-[67.2px] font-bold;
  }

  .heading1-mobile {
    @apply text-[35px] leading-[36.75px] font-bold;
  }

  .heading2 {
    @apply text-[48px] leading-[50.4px] font-bold;
  }

  .heading3-b {
    @apply text-[36px] leading-[37.8px] font-bold tracking-[-0.36px];
  }
  .heading3 {
    @apply text-[32px] leading-[33.6px] font-semibold;
  }

  .heading3-medium {
    @apply text-[32px] leading-[33.6px] font-medium;
  }

  .heading4 {
    @apply text-[24px] leading-[24px] font-semibold;
  }

  .base-regular {
    @apply text-[24px] leading-[31.2px] font-normal;
  }

  .base-semibold {
    @apply text-[24px] leading-[31.2px] font-semibold;
  }
  .base-bold {
    @apply text-[24px] leading-[31.2px] font-bold;
  }

  .paragraph-regular {
    @apply text-[20px] leading-[26px] font-normal;
  }

  .paragraph-semibold {
    @apply text-[20px] leading-[26px] font-semibold;
  }

  .body-regular {
    @apply text-[16px] leading-[20.8px] font-normal;
  }

  .body-semibold {
    @apply text-[16px] leading-[20.8px] font-semibold;
  }

  .body-medium {
    @apply text-[16px] leading-[22.4px] font-medium;
  }

  .small-regular {
    @apply text-[14px] leading-[17.5px] font-normal;
  }

  .small-semibold {
    @apply text-[14px] leading-[17.5px] font-semibold;
  }

  .small-semibold-mobile {
    @apply text-[12px] leading-[15px] font-semibold tracking-[2px];
  }
}

.scrollbar-w-2::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

.scrollbar-track-blue-lighter::-webkit-scrollbar-track {
  --bg-opacity: 1;
  background-color: #f7fafc;
  background-color: rgba(247, 250, 252, var(--bg-opacity));
}

.scrollbar-thumb-blue::-webkit-scrollbar-thumb {
  --bg-opacity: 1;
  background-color: #edf2f7;
  background-color: rgba(237, 242, 247, var(--bg-opacity));
}

.scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
}
